<mat-sidenav-container>
    <mat-sidenav mode="side" opened>
        <mat-nav-list>
            <a mat-list-item [routerLink]="['/seventh/date']">DatePipe</a>
            <a mat-list-item [routerLink]="['/seventh/decimal']">DecimalPipe</a>
            <a mat-list-item [routerLink]="['/seventh/text-trans']">LowerCasePipe / UpperCasePipe / TitleCasePipe</a>
            <a mat-list-item [routerLink]="['/seventh/slice']">SlicePipe</a>
            <a mat-list-item [routerLink]="['/seventh/origin']">オリジナル Pipe</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content [style.height.vh]="100">
        <div class="p-y-20 p-x-20">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
